<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('partials/navbar') %>
  <div class="hero">
    <div class="logo">
        <img src="h.png" alt="" />
      </div>
    <div class="parallax-layer layer-6"></div>
    <div class="parallax-layer layer-5"></div>
    <div class="parallax-layer layer-4"></div>
    <div class="parallax-layer car-1"></div>
    <div class="parallax-layer car-2"></div>
    <div class="parallax-layer layer-3"></div>
    <div class="parallax-layer layer-2"></div>
    <div class="parallax-layer layer-1"></div>
  </div>


  <div class="light-bg">
    <img src="" alt="" />
  </div>

  <div class="dark-bg">
    <img src="" alt="" />
  </div>

  <div class="light-bg">
    <p class="extra">รายละเอียดยังไม่ได้ใส่ฮะ</p>
  </div>
</body>
</html>
