<!-- views/navbar.ejs -->
<link rel="stylesheet" href="/css/style.css">

    <nav class="nav">
        <div class="nav-logo">
            <p>LOGO .</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="#" class="link">Trend</a></li>
                <li><a href="#" class="link">New</a></li>
                <li><a href="#" class="link">Collab</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="registerBtn" onclick="register()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>
    
    
    
    